/* Global Resets */
body,ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F5F8FA;
}

.alert-container {
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.alert {
    background-color: white;
    width: 300px;
    height: 300px;
}

.h1 {
    border-color: #33475B;
    border-width: 2px 0 2px 1px;
    border-style:solid;
    padding: 8px 0 8px 5px;
}

.header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 30px;
    color: #ff7a59;
}

.main-display {
    position: relative;
    border: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    min-height:280px;
    justify-content: center;
}

.bg-image {
    position: absolute;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
     /* Resize the background image to cover the entire container */
     /* background-repeat: no-repeat; */
    background-size: contain;
    z-index: 1;    
}

.desktop-image{
    display:none;
}


.weekly-budget {
    position: relative;
    font-size: 1.5rem;
    color: #EAF0F6;
    z-index: 2; 
}

.available-balance {
    position: relative;
    font-size: 1.5rem;
    color: #EAF0F6;
    margin-top: 30px;
    z-index: 2; 
}

.balance-amount {
    position: relative;
    font-size: 3.75rem;
    color: #EAF0F6;
    z-index: 2; 
    margin-bottom: 60px;
}

.form-container, .budget-form {
position: relative;
display: flex;
justify-content: center;
border-radius: 12px;
/* border needs to have size and style, so 2px solid black for example. This didn't
have a semicolon at the end so it was not being used anyways. It puts a border that 
spans the whole page and doesn't look nice */
/* border: black: */
}

.form-main, .budget-form {
/* position: absolute; */
display: flex;
flex-direction: column;
background-color: white;
padding: 30px;
border-radius: 12px;
width: 480px;
z-index: 3;
}

.enter-expense {
    display: none;
}

.form-heading {
    font-size: 1.5rem;
    color: #235790;
    margin: 0 0 24px 0;
    font-weight:600;
}

.form-label {
    font-size: 1rem;
    color: #33475B;
    margin-bottom: 6px;
}

.input {
    padding: 8px;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 40px;
}
 
.select {
    padding:8px;
    font-size: 1rem;
    color: #33475B;
    height: 40px;
    margin-bottom: 30px;
    border-radius:6px;
}

.submit {
    background-color: #FF7A59;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
}

.main-expense {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.spend-heading {
    font-size: 1rem;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    font-weight:600;
    font-size: 1.5rem;
    color: #235790;
    width:480px;
}

.expenses {
    /* display: flex;
    flex-direction: column;
    justify-self: start; */
    font-size: 1rem;
    list-style: none;
    margin-top: 10px;
    width:480px;
}

.categories {
    font-size:1.125rem;
    color:#516f90;
    margin-bottom:10px;
}

.icon {
    color:#235790;
    margin-right:8px;
}

.fa-coins {
    font-size:30px;
}



@media only screen and (min-width: 768px) {
    .desktop-image{
    display: initial;
    }

    .mobile-image {
        display: none;
    }

    .form-main {
        margin: -75px 0 ;
    }

.main-expense {
    margin-top: 70px;
}

    .expenses {
        display: flex;
        flex-wrap: wrap;
    }

    .categories {
        width: 50%;
    }
  }



