/* Global Resets */
body,ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F5F8FA;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-display {
    background-image:url(budget_buddy_img.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
     /* Resize the background image to cover the entire container */
     /* background-repeat: no-repeat; */
    background-size: contain;
    border: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    color: blue;
    min-height:280px;
    
    
}

.weekly-budget {
    font-size: 1.5rem;
    color: #EAF0F6;
}

.available-balance {
    font-size: 1.5rem;
    color: #EAF0F6;
    margin-top: 30px;
}

.balance-amount {
    font-size: 3.75rem;
    color: #EAF0F6;
}

.form-container {
display: flex;
justify-content: center;
border-radius: 12px;
border: black:
}

.form-main {
display: flex;
flex-direction: column;
background-color: white;
padding: 30px;
border-radius: 12px;
width: 480px;

}

.form-heading {
    font-size: 1.5rem;
    color: #235790;
    margin: 0 0 24px 0;
    font-weight:600;
}

.form-label {
    font-size: 1rem;
    color: #33475B;
    margin-bottom: 6px;
}

.input {
    padding: 8px;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 40px;
}
 
.select {
    padding:8px;
    font-size: 1rem;
    color: #33475B;
    height: 40px;
    margin-bottom: 30px;
    border-radius:6px;
}

.submit {
    background-color: #FF7A59;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
}

.main-expense {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.spend-heading {
    font-size: 1rem;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    font-weight:600;
    font-size: 1.5rem;
    color: #235790;
    width:480px;
}

.expenses {
    /* display: flex;
    flex-direction: column;
    justify-self: start; */
    font-size: 1rem;
    list-style: none;
    margin-top: 10px;
    width:480px;
}

.categories {
    font-size:1.125rem;
    color:#516f90;
    margin-bottom:10px;
}